* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #272727;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}


/* container */
.max-container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.padding-container {
  padding: 0 24px;
}

/* text style */
.text-sm {
  font-size: 16px;
}
.text-md {
  font-size: 24px;
}
.text-lg {
  font: 48px;
}

.text-xl {
  font-size: 64px;
}

/* text color */
.text-dark {
  color: #272727;
}

.text-semidark {
  color: #585858;
}
.text-blue {
  color: #1875ff;
}


/* button */
.button-blue {
  background: linear-gradient(180deg, #63cdfa 0%, #1875ff 100%);
  padding: 12px 24px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  /* large shadow blue */
  box-shadow: 2px 7px 20px rgba(24, 117, 255, 0.3);

/* start bagian iwan*/
#fifth-section {
    background-color: #F9F9F9;
    padding: 32px;
}

.fifth-section-title {
    text-align: center;
    margin-bottom: 16px;
}

.testimony {
    padding: 16px;
    text-align: center;
    max-width: 720px;
    margin: auto;
}

.testimony-customer-name {
    font-size: 20px;
    margin-bottom: 8px;
}
.testimony-customer-proffesion {
    font-size: 16px;
    color: #1875FF;
    margin-bottom: 12px;
}
.testimony-customer-message {
    margin-bottom: 48px;
}
.testimony-customer-profile {
    width: 92px;
    height: 92px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}
.testimony-customer-profile > img {
    width: 100%;
}

.sixth-section {
    padding: 16px;
}

.subscription-box {
    max-width: 960px;
    margin: 32px auto;
    background-color: #1875FF;
    border-radius: 12px;
    padding: 18px 20px;
}
.subscription-label {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}
.subscription-layout {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 32px;
}
.subscription-message {
    width: 50%;
}
.subscription-message h2 {
    margin-bottom: 12px;
    color: white;
}
.subscription-message p {
    color: white;
    font-size: smaller;
    font-weight: 100;
}
.subscription-form {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 4px;
}
.subscription-form-input {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    background: #1565DC;
    width: 100%;
}
.subscription-form-button {
    border: none;
    background: #F19696;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
}

footer {
    margin-top: 48px;
    padding: 16px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.social-media {
    display: flex;
    align-items: center;
    gap: 8px;
}
.img-sosmed {
    width: 28px;
    height: 28px;
}
/* end bagian iwan*/

/* navbar */

.navbar{
width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.button-dark {
  background-color: #272727;
  padding: 12px 24px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
}
