* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #272727;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#third-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 40px 40px 40px;
}

#cards-work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-work {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.card-project img {
  width: 100%;
  height: auto;
}

#cards-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-project {
  display: flex;
  flex-direction: column;
  width: 28%;
}

/* container */
.max-container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.padding-container {
  padding: 0 24px;
}

/* text style */
.text-sm {
  font-size: 16px;
}
.text-md {
  font-size: 24px;
}
.text-lg {
  font: 48px;
}

.text-xl {
  font-size: 64px;
}

/* text color */
.text-dark {
  color: #272727;
}

.text-semidark {
  color: #585858;
}
.text-blue {
  color: #1875ff;
}

/* button */
.button-blue {
  background: linear-gradient(180deg, #63cdfa 0%, #1875ff 100%);
  padding: 12px 24px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  /* large shadow blue */
  box-shadow: 2px 7px 20px rgba(24, 117, 255, 0.3);
}

.button-dark {
  background-color: #272727;
  padding: 12px 24px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
}
