/* LEFT SECTION*/
.service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: rgb(222, 238, 243);
}
/* service kiri */
.service-kiri {
  position: relative;
  width: 60%;
}
.service-card-group {
  position: absolute;
  top: -50px;
  left: 100px;

  display: flex;
}
.service-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 1px rgb(58, 137, 255, 0.2);
  padding: 20px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -50px;
}

.service-card .service-card-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, rgb(69, 69, 255), lightblue);
  color: white;
  font-weight: bold;
}

.service-card img {
  width: 80px;
  margin: 20px auto;
}

.service-card-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-detail-title {
  font-size: 16px;
  font-weight: bold;
  color: blue;
  text-transform: uppercase;
}
.service-detail-year {
  font-size: 12px;
  font-weight: bold;
  color: rgb(19, 231, 19);
  text-transform: capitalize;
}
/* service kanan */

.service-kanan {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.service-kanan-description {
  text-align: justify;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}
.service-kanan-action {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.service-kanan-action-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action-detail-number {
  font-size: 30px;
  font-weight: bolder;
}
.action-detail-text {
  font-size: 12px;
  color: #6d6d6d;
  text-transform: capitalize;
}
